<ol class="breadcrumb">
    <li><a href="<%= locals.root? root : "/home" %>" class="link"><i class="bi bi-house" aria-hidden="true"></i>home</a></li>
    <% let current = [] %>
    <% for (let i = 0; i < breadcrumb.length; i++) { %>
        <% current.push(breadcrumb[i]) %>
        <li><a href="<%= locals.root? root : "/home" %>/<%= current.join("/") %>" class="link"><%= breadcrumb[i] %></a></li>
    <% } %>
</ol>
