<ol class="breadcrumb">
    <% let current = [] %>
    <% for (let i = 0; i < breadcrumb.length; i++) { %>
        <% current.push(breadcrumb[i]) %>
        <li><a href="/<%= current.join("/") %>" class="link"><%= breadcrumb[i] %></a></li>
    <% } %>
</ol>
