<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/icons/bootstrap-icons-1.11.3/bootstrap-icons.css">
    <link rel="icon" href="/icons/folder.svg">
    <% locals.styles?.forEach((style) => { %>
        <link rel="stylesheet" href="/styles/<%= style %>" />
    <% }); %>
    <meta name="description" content="A basic personal cloud-storage platform">
    <title><%= title %></title>
</head>
