<div class="public-link-container">
    <div id="label">Public link</div>
    <div class="public-link">
        <div class="public-link-content" aria-labelledby="label" data-id="<%= shareId %>"></div>
        <button class="main-button" aria-label="Copy">
            <i class="bi bi-copy" aria-hidden="true"></i>
            <span>Copy</span>
        </button>
    </div>
</div>
