main {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 15px;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-button > i {
    font-size: 20px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: none;
    color: inherit;
    border: none;
    padding: 15px;
    max-width: 500px;
    width: 100%;
    transition: all 300ms allow-discrete;
    opacity: 0;
}

dialog[open] {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

@starting-style {
    dialog[open] {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all 300ms allow-discrete;
}

dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.25);
}

@starting-style {
    dialog[open]::backdrop {
        background-color: rgba(0, 0, 0, 0);
    }
}

.form-container .button-container {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.files-container {
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 15px;
}

.breadcrumb {
    list-style: none;
    padding: 0;
}

.breadcrumb > li {
    display: inline;
}

.breadcrumb li + li:before {
    padding: 0px 6px 0px 6px;
    content: ">";
}

.files p {
    text-align: center;
}

.info,
.file {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    gap: 10px;
    padding: 6px 8px 6px 8px;
    white-space: nowrap;
}

.info {
    font-weight: bold;
}

.file {
    text-align: left;
    text-decoration: none;
    font-weight: 400;
}

.file:not(:last-child) {
    margin-bottom: 10px;
}

.breadcrumb,
.file > div,
.info > div {
    overflow: auto;
}

.file > div,
.sidebar-button {
    display: flex;
    align-items: center;
}

.name,
.sidebar-button {
    gap: 6px;
}

.name > i {
    font-size: 18px;
}

@media (max-width: 600px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows: min-content 1fr;
    }

    .sidebar-button > span {
        display: none;
    }

    aside {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}
