:root {
    --border: 1px solid #1e293b;
}

body {
    min-height: 100dvh;
    background: linear-gradient(50deg, #0f172a, #0a0a0a);
    color: #f5f5f5;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

header,
main,
footer {
    padding: 15px;
}

header {
    position: sticky;
    top: 0;
    height: min-content;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: #0a0a0a33;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    border-bottom: var(--border);
    z-index: 1;
}

nav > ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    gap: 15px;
}

:any-link {
    color: unset;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.logo a,
nav a {
    text-decoration: none;
    display: block;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

footer > :last-child {
    transition: transform 200ms;
}

footer > :last-child:hover {
    transform: scale(1.2);
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #f5f5f5;
    border-radius: 5px;
}

/* General classes */
input::file-selector-button,
.main-button,
.secondary-button {
    padding: 6px 12px 6px 12px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
    transition: opacity 200ms;
}

input::file-selector-button:hover,
.main-button:hover,
.secondary-button:hover {
    cursor: pointer;
    opacity: 0.8;
}

input::file-selector-button,
.main-button {
    background-color: #f5f5f5;
    color: #0a0a0a;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.3);
}

.secondary-button {
    background-color: #171717;
    color: inherit;
    border: var(--border);
}

.link {
    text-decoration: none;
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background-color: white;
    opacity: 0.8;
    transition: transform 300ms;
    transform-origin: right;
}

.link:hover::after {
    transform: scaleX(0);
}

.form-container {
    padding: 30px;
    border: var(--border);
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
    background: linear-gradient(50deg, #0f172a, #0a0a0a);
}

.form-container form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container form > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container label {
    color: #d4d4d4;
    font-weight: 500;
}

.form-container input {
    color: inherit;
    background-color: #0a0a0a;
    border: var(--border);
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.form-container .error {
    color: #b91c1c;
}

.breadcrumb {
    list-style: none;
    padding: 0;
    overflow: auto;
}

.breadcrumb > li {
    display: inline;
}

.breadcrumb li + li:before {
    padding: 0px 6px 0px 6px;
    content: ">";
}

.breadcrumb i {
    font-size: 18px;
    margin-right: 3px;
}
